<!DOCTYPE html>
<html lang="en">
	<link rel="shortcut icon" type="image/png" href="https://overfload.nyc3.cdn.digitaloceanspaces.com/ed485a58-4e11-4940-9b58-9dafd0113a9d">
	<head>
		<meta charset="utf-8"/>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<meta content="width=device-width, initial-scale=1" name="viewport" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
		<script style="display: none" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>
		<link rel="stylesheet" href="/front.css"/>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<title>⚪ Sparks</title>
	</head>
	<body>
		<div class="spin-container">
			<div class="spin" id="loader"></div>
			<div class="spin" id="loader2"></div>
			<div class="spin" id="loader3"></div>
			<div class="spin" id="loader4"></div>
		</div>
		<div class="container">
			<div style="position: absolute; top: 20px" class="spark-logo">
				<a href="https://summerspark.stab.org"></a>
			</div>
			<div class="balance">
				<h1 class="shake_balance animate__animated">23.45</h1>
				<h1 class="shake_balance animate__animated">1205.367</h1>
				<span class="lightning-bolt">⚡</span>
				<h1 id="balance_display" class="animate__animated">{{BALANCE}}</h1>
			</div>
			<div class="select-icons">
				<div class="icon-div open-inventory">
					<ion-icon class="icon-objects" name="file-tray-stacked-outline"></ion-icon>
				</div>
				<div class="icon-div send-item">
					<ion-icon class="icon-objects" name="send-outline"></ion-icon>
				</div>
				<div class="icon-div raffle-settings">
					<ion-icon class="icon-objects" name="cash-outline"></ion-icon>
				</div>
			</div>
			<div class="inventory-popup">
				<h1>Current Inventory</h1>
				<div class="close-inventory">
					<ion-icon class="icon-objects" name="close-circle-outline"></ion-icon>
				</div>
				<div class="choose-inventory">
					<div class="selection-and-inventory">
						<div class="selection-menu-bar-admin button-align">
							<button class="add-item-inventory">
							<ion-icon name="add-outline"></ion-icon>&nbsp;&nbsp;Inventory
							</button>
							<button class="add-item-raffle">
							<ion-icon name="add-outline"></ion-icon>&nbsp;&nbsp;Raffle
							</button>
						</div>
						<div class="inventory-adding">
							<div class="add-item-inventory-popup">
								<h1>Add an Inventory Item</h1>
								<form method="PUT" action="/admin/inventory">
									<input type="text" name="item_name" id="item_name_value1" placeholder="Item Name">
									<input type="number" name="price" id="price_value1" placeholder="Price">
									<input type="number" name="quantity" id="quantity_value1" placeholder="Quantity" pattern="[0-9]+">
									<input type="text" name="item_description" id="item_description1" placeholder="Item Description">
									<input type="text" name="item_image" id="item_image1" placeholder="Item Image URL">
									<input type="submit" value="Send" class="submit-button" id="submit-add-inventory-item">
								</form>
							</div>
							<div class="add-item-raffle-popup">
								<h1>Add a Raffle Item</h1>
								<form method="PUT" action="/admin/raffle">
									<input type="text" name="item_name" id="item_name_value2" placeholder="Item Name">
									<input type="number" name="price" id="price_value2" placeholder="Price">
									<input type="number" name="quantity" id="quantity_value2" placeholder="Quantity" pattern="[0-9]+">
									<input type="text" name="item_description" id="item_description2" placeholder="Item Description">
									<input type="text" name="item_image" id="item_image2" placeholder="Item Image URL">
									<input type="submit" value="Send" class="submit-button" id="submit-add-raffle-item">
								</form>
							</div>
						</div>
					</div>
					<div class="button-align">
						<button class="admin-inventory-select button-selected">Admin Inventory</button>
						<button class="all-inventory-select">All Inventory</button>
					</div>
					<div class="inner-inventory admin selected"></div>
					<div class="inner-inventory all"></div>
				</div>
			</div>
			<div class="send-item-popup">
				<h1>Send Sparks</h1>
				<div class="close-send-item">
					<ion-icon class="icon-objects" name="close-circle-outline"></ion-icon>
				</div>
				<form method="POST" action="/nowhere">
					<input type="text" name="receiver_id" id="receiver_id_value" placeholder="Receiver's ID" pattern="[0-9]+">
					<input type="text" name="number" id="number_send_item" placeholder="Amount">
					<input type="text" name="message" id="message_send_item" placeholder="Message">
					<input type="submit" value="Send" class="submit-button" id="submit-sparks">
				</form>
			</div>
			<div class="raffle-settings-popup">
				<h1>Raffle Settings</h1>
				<div class="close-raffle-settings">
					<ion-icon class="icon-objects" name="close-circle-outline"></ion-icon>
				</div>
				<div class="raffle-body">
					<div class="raffle-status">
						<h2>Raffle Status</h2>
						<form id="test-slider">
							<label class="toggle">
								<div class="toggle__wrapper">
									<input id="checking-box" type="checkbox">
									<div id="clicking-raffle-toggle" class="toggle__bg">
										<div class="toggle__sphere">
											<div class="toggle__sphere-bg">
											</div>
											<div class="toggle__sphere-overlay"></div>
										</div>
									</div>
								</div>
							</label>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div class="message-background"></div>
		<div class="message-alert">
			<h1>Test Alert</h1>
		</div>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/admin.js"></script>
	</body>
</html>