<!DOCTYPE html>

<html lang="en">
	<link rel="shortcut icon" type="image/png" href="https://overfload.nyc3.cdn.digitaloceanspaces.com/ed485a58-4e11-4940-9b58-9dafd0113a9d">
	<head>
		<meta charset="utf-8"/>
	    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	    <meta name="viewport" content="width=device-width, initial-scale=1"/>

	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
	    <script style="display: none" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>

		<link rel="stylesheet" href="/front.css"/>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<title>⚪ Sparks</title>
	</head>
	<body>
		<div class="container">
			<div style="position: absolute; top: 20px" class="spark-logo">
				<a href="https://summerspark.stab.org"></a>
			</div>

			<div class="balance">
				<h1 class="shake_balance animate__animated">23.45</h1>
				<h1 class="shake_balance animate__animated">1205.367</h1>
				<span class="lightning-bolt">⚡</span>
				<h1 id="balance_display" class="animate__animated">{{BALANCE}}</h1>
			</div>

			<div class="select-icons">
				<div class="icon-div open-inventory">
					<ion-icon class="icon-objects" name="file-tray-stacked-outline"></ion-icon>

				</div>
				<div class="icon-div send-item">
					<ion-icon class="icon-objects" name="send-outline"></ion-icon>
				</div>
			</div>

			<div class="inventory-popup">
				<h1>Current Inventory</h1>
				<div class="close-inventory">
					<ion-icon class="icon-objects" name="close-circle-outline"></ion-icon>
				</div>
				<div class="inner-inventory">
					<div id="initial-inventory">
					<!-- id -->

						<div class="spark-logo"></div>
					</div>
				</div>
			</div>
		</div>

		<script src="/socket.io/socket.io.js"></script>
		<script src="/initial.js"></script>
	</body>
</html>