<!DOCTYPE html>

<html lang="en">
	<link rel="shortcut icon" type="image/png" href="https://overfload.nyc3.cdn.digitaloceanspaces.com/ed485a58-4e11-4940-9b58-9dafd0113a9d">
	<head>
		<meta charset="utf-8" />
	    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	    <meta name="viewport" content="width=device-width, initial-scale=1" />

		<link rel="stylesheet" href="/front.css"/>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<title>⚪ Sparks</title>
	</head>
	<body>
		<

		<script src="/socket.io/socket.io.js"></script>
		<script src="/initial.js"></script>
	</body>
</html>