@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');


html {
	height: 100%;
}

* {
	font-family: "Montserrat", sans-serif;
}

body {
	background: white;
	overflow: hidden;
	font-weight: bold;
	margin: 0;
	padding: 0;
	min-height: 100%;
}

button:hover {
	cursor: pointer;
}

.container {
	height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;

}

.spark-logo {
	display: block;
	width: 100%;
	height: 20%;
	background-image: url("https://overfload.nyc3.cdn.digitaloceanspaces.com/ed485a58-4e11-4940-9b58-9dafd0113a9d");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
}

form {
	width: 100%;
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

input {
	width: 80%;
	border-radius: 3px;
	height: 40px;
	margin: 5px 0;
	border: 2px #00a6a6 solid;
	text-align: center;
	font-size: 20px;
	transition: 0.5s ease;
	padding: 0;
}

input:focus {
	outline: none;
	border: 2px transparent solid;
	transition: 0.5s ease;
}

input:invalid {
	border: 2px #bd4881 solid;
}

#submission, .submit-button {
	box-sizing: content-box;
	background: transparent;
	border: 2px #eca465 solid;
	font-weight: 600;
}

#submission:hover, .submit-button:hover {
	cursor: pointer;
}

.message-background {
	position: absolute;
	bottom: 90px;
	width: 100%;
	left: -100%;
	height: 150px;
	background: white;
	transition: 1s ease;
	z-index: 200;
}

.message-background.open {
	left: 0px;
	transition: 1s ease;
}

.message-alert {
	position: absolute;
	bottom: 100px;
	height: 100px;
	width: 70%;
	left: -70%;
	background: #00a6a6;
	display: flex;
	align-items: center;
	transition: 1s ease;
	z-index: 200;
}

.message-alert h1 {
	margin-left: 10px;
}

.message-alert.open {
	left: 0px;
	transition: 1s ease;
}

.balance {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.shake_balance {
	display: none;
	font-size: 65px;
	color: transparent;
	position: absolute;
	transition: 1s ease;
}

.shake_balance.changing-down {
	display: block;
	text-shadow: 0 0 8px #bd4881;
	transition: 1s ease;
}

.shake_balance.changing-up {
	display: block;
	text-shadow: 0 0 8px #00a6a6;
	transition: 1s ease;
}

.lightning-bolt {
	font-family: 'Arial';
	font-size: 75px;
	margin-right: 10px;
	transition: left 1s ease;
}

.lightning-bolt-button {
	font-family: 'Arial';
	font-size: 20px;
	margin-right: 10px;
	transition: left 1s ease;
}

#balance_display {
	font-size: 65px;
	transition: 0.2s ease;
}

#balance_display.changing-down {
	transition: 0.2s ease;
	color: transparent;
	text-shadow: 0 0 8px #bd4881;
}

#balance_display.changing-up {
	transition: 0.2s ease;
	color: transparent;
	text-shadow: 0 0 8px #00a6a6;
}

.select-icons {
	position: absolute;
	top: 5px;
	right: 5px;
	width: 70px;
}

/* Inventory CSS */
.icon-div {
	font-weight: bold;
	width: 100%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon-div:hover {
	cursor: pointer;
}

.icon-objects {
	transform: scale(4);
}

.icon-objects:hover {
	cursor: pointer;
}

.inventory-popup {
	position: absolute;
	background: white;
	top: -101%;
	left: 0px;
	width: 100%;
	height: 100%;
	border-bottom: 3px solid grey;
	transition: 1s ease;
}

.inventory-popup.open {
	top: 0px;
	transition: 1s ease;
}

.inventory-popup h1 {
	margin: 0;
	left: 0px;
	height: 70px;
	width: 80%;
	text-align: center;
	line-height: 200%;
}

.spark-logo-inventory {
	margin: 4px;
	display: inline-block;
	width: 50px;
	height: 50px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center top;
}

.spark-logo-inventory.remove-hover:hover {
	cursor: pointer;
}

.inner-inventory > div {
	position: relative;
	background: #f7e88f;
	margin-top: 2px;
	margin-bottom: 5px;
	padding: 0 1px 1px 1px;
	width: 90%;
	left: 5%;
}

.inner-inventory > div:last-child {
	margin-bottom: 30px;
}

.display-styling-inventory {
	margin-top: 10px;
	position: relative;
	min-height: 50px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.purchase-item {
	max-height: 50px;
	margin: 5px;
}

.purchase-item > span.price {
	font-size: 20px;
	font-weight: 600;
}

.item-info {
	display: inline-block;
	height: 50px;
	margin: 4px;
	display: flex;
	align-items: center;
}

.inventory-descript {
	margin: 6px;
	font-weight: lighter;
	text-indent: 50px;
}

.close-inventory {
	position: absolute;
	width: 70px;
	height: 70px;
	top: 0px;
	right: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.send-item-popup {
	position: absolute;
	background: white;
	top: -101%;
	left: 0px;
	width: 100%;
	height: 100%;
	border-bottom: 3px solid grey;
	transition: 1s ease;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.send-item-popup.open {
	top: 0px;
	transition: 1s ease;
}

.send-item-popup h1 {
	margin: 0;
	left: 0px;
	height: 70px;
	width: 80%;
	text-align: center;
	line-height: 200%;
}

.close-send-item {
	position: absolute;
	width: 70px;
	height: 70px;
	top: 0px;
	right: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ADMIN INVENTORY */

.choose-inventory {
	height: calc(100vh - 70px);
}

.button-align {
	width: 100%;
	height: calc(5% + 10px);
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.selection-and-inventory {
	height: 5%;
}

.button-align > button {
	width: 50%;
	margin: 0;
	border-radius: 0px;
	font-weight: bold;
	border: none;
	background: #496a81;
}

.button-align > button:hover {
	cursor: pointer;
}

.selection-menu-bar-admin {
	height: calc(5% + 10px);
}

.selection-menu-bar-admin > button {
	display: flex;
	justify-content: center;
	align-items: center;
}

.selection-menu-bar-admin > button {
	background: transparent;
}

.button-align.selection-menu-bar-admin > button:hover {
	cursor: pointer;
}

.button-align.selection-menu-bar-admin > button > ion-icon {
	transform: scale(175%);
}

.button-align > button.button-selected {
	background: #00a6a6;
}

.inner-inventory {
	display: none;
}

.inner-inventory.non-admin {
	display: block;
}

.inner-inventory > div.non-active {
	background: #bd4881;
	border-bottom: 1px #bd4881 solid;
}

.selected {
	display: block;
	border-top: 10px #00a6a6 solid;
	border-bottom: 5px #00a6a6 solid;
	width: 100%;
	height: calc(100% - 11%);
	overflow-y: scroll;
	background: #00a6a6;
	z-index: 50;
}

/* LOADING ANIMATION */

.spin-container {
	display: none;
}

.spin-container.open {
	display: block;
	position: absolute;
	text-align: center;
	top: 100%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.5);
	z-index: 30;
}

.spin {
	border: 3px solid #496a81;
	width: 200px;
	height: 200px;
	margin: 0 auto;
	border-radius: 50%;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

#loader2 {
	border: 3px solid #00a6a6;
	width: 220px;
	height: 220px;
	position: relative;
	top: -216px;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

#loader3 {
	border: 3px solid #eca465;
	width: 240px;
	height: 240px;
	position: relative;
	top: -452px;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: rotate 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

#loader4 {
	border: 3px solid #bd4881;
	width: 260px;
	height: 260px;
	position: relative;
	top: -708px;
	border-left-color: transparent;
	border-right-color: transparent;
	animation: rotate2 2s cubic-bezier(0.26, 1.36, 0.74, -0.29) infinite;
}

@keyframes rotate {
	0% {
		transform: rotateZ(-360deg)
	}

	100% {
		transform: rotateZ(0deg)
	}
}
@keyframes rotate2 {
	0% {
		transform: rotateZ(360deg)
	}

	100% {
		transform: rotateZ(0deg)
	}
}

.add-item-inventory-popup {
	background: white;
	position: absolute;
	left: -100%;
	top: 50%;
	transform: translate(0%, -20%);
	width: 60%;
	height: 50%;
	transition: left 1s ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 60;
}

.add-item-inventory > ion-icon {
	transform: scale(175%) !important;
	transition: 0.7s ease;
}

.add-item-inventory > ion-icon.open {
	transform: rotate(135deg) scale(175%) !important;
	transition: 0.7s ease;
}

.add-item-raffle > ion-icon {
	transform: scale(175%) !important;
	transition: 0.7s ease;
}

.add-item-raffle > ion-icon.open {
	transform: rotate(135deg) scale(175%) !important;
	transition: 0.7s ease;
}

.add-item-inventory-popup.open {
	left: 20%;
	transition: left 1s ease;
}

.add-item-raffle-popup {
	background: white;
	position: absolute;
	left: -100%;
	top: 50%;
	transform: translate(0%, -20%);
	width: 60%;
	height: 50%;
	transition: left 1s ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 60;
}

.add-item-raffle-popup.open {
	left: 20%;
	transition: left 1s ease;
}

.add-item-inventory-popup > h1 {
	height: auto !important;
}

.add-item-raffle-popup > h1 {
	height: auto !important;
}

.raffle-settings-popup {
	position: absolute;
	background: #eca465;
	top: -101%;
	left: 0px;
	width: 100%;
	height: 100%;
	transition: 1s ease;
}

.raffle-settings-popup.open {
	top: 0px;
	transition: 1s ease;
}

.close-raffle-settings {
	position: absolute;
	width: 70px;
	height: 70px;
	top: 0px;
	right: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.close-camper-information {
	position: absolute;
	width: 70px;
	height: 70px;
	top: 0px;
	right: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.raffle-settings-popup h1 {
	margin: 0;
	left: 0px;
	height: 70px;
	width: 80%;
	text-align: center;
	line-height: 200%;
}

.raffle-body {
	height: calc(100% - 70px);
	width: 100%;
}

.raffle-status {
	width: 100%;
	height: 70px;
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.raffle-status h2 {
	position: relative;
	margin: 0;
	top: calc(-30% - 5%);;
	left: 200px;
}

#test-slider {
	position: relative;
	top: calc(-30% - 5%);
	width: 600px;
	height: 350px;
	margin: 0;
	border-radius: 500px;
	background: linear-gradient(#ffbd00, #ca7900);
	box-shadow: 0 1px 5px hsla(41, 100%, 40%, 0.3),
	     -3px 25px 25px hsla(41, 100%, 35%, 0.5),
	     -6px 50px 50px hsla(41, 100%, 30%, 0.3),
	     -9px 65px 65px hsla(41, 100%, 20%, 0.3);
	transform: scale(20%);
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 350px;
  background: #ffad00;
  border-radius: 500px;
  border: solid 5px transparent;
  background-clip: padding-box;
  cursor: pointer;
}

.toggle__wrapper {
  width: 500px;
  height: 250px;
  margin: -4px -2px; 
  border-radius: 500px;
  background: linear-gradient(hsla(39, 100%, 44%, 1), hsla(39, 100%, 42%, 0.1));
  box-shadow: 0px 5px 1px 0 hsla(41, 100%, 57%, 0.7);
}

.toggle__bg {
  width: 500px;
  height: 250px;
  background: hsla(199, 43%, 59%, 1);
  background: linear-gradient(to right, hsla(180, 100%, 33%, 1) 50%, hsla(331, 47%, 51%, 1) 50% 100%);
  background-size: 200% 100%;
  background-position: 75%;
  border-radius: 500px;
  border: solid 5px transparent;
  background-clip: padding-box;
  box-shadow: inset 0px 30px 50px 15px hsla(0, 0%, 0%, 0.30);
  transition: all 0.85s ease-in-out;
}

.toggle__sphere {
  position: relative;
  height: 238px;
  width: 238px;
  background: hsla(18, 100%, 62%, 1);
  background: 
    linear-gradient(to right, hsla(180, 100%, 33%, 1) 50%, hsla(331, 47%, 51%, 1) 50% 100%);
  border-radius: 50%;
  transform-origin: top left;
  transform: translateY(1px);
  box-shadow:  
    2px 0px 5px 1px hsla(18, 77%, 15%, 0.05), 
    0px 10px 10px 1px hsla(18, 77%, 15%, 0.2), 
    -3px 0px 3px 1px hsla(0, 0%, 0%, 0.75);
  transition: all 0.85s ease-in-out;
}

.toggle__sphere:before, 
.toggle__sphere:after {
  content: '';
  position: absolute;
  left: calc(50% - 20px);
  height: 1px;
  width: 40px;
  background: hsla(0, 0%, 0%, 0.25);
  border-radius: 50%;
  box-shadow: 0px 0px 10px 0px hsla(0, 0%, 0%, 0.25);
}

.toggle__sphere:before {
  top: -2px;
}

.toggle__sphere:after {
  bottom: -1px;
}

.toggle__sphere-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-radius: 50%;
  box-shadow: inset 0px -30px 30px 15px hsla(0, 0%, 0%, 0.1)
}

.toggle__sphere-bg {
  position: relative;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  border-radius: 50%;
  transition: transform 0.85s ease-in-out;
}

.toggle__sphere-bg:before, 
.toggle__sphere-bg:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.toggle__sphere-bg:before {
  background-color: hsla(331, 47%, 51%, 1);
  border-radius: 50%;
}

.toggle__sphere-bg:after {
  background-color: hsla(180, 100%, 33%, 1);
  transform: rotateY(180deg);
  border-radius: 50%;
}

#checking-box {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
}

#checking-box:checked + .toggle__bg {
  background-position: 25%;
}

#checking-box:checked + .toggle__bg .toggle__sphere {
  transform: translateX(250px) translateY(1px);
  box-shadow:  
    -2px 0px 5px 1px hsla(18, 77%, 15%, 0.05), 
    0px 10px 10px 1px hsla(18, 77%, 15%, 0.2), 
    3px 0px 3px 0px hsla(0, 0%, 0%, 0.75);
}

#checking-box:checked + .toggle__bg .toggle__sphere-bg {
  transform: rotateY(180deg);
}

.raffle-drawing {
	position: relative;
	width: 80%;
	height: 30px;
	left: 10%;
	top: 0px;
	background: transparent;
	border: 2px #f7e88f solid;
	font-size: 20px;
	font-weight: 600;
}

.raffle-drawing-winners {
	margin-top: 20px;
	overflow-y: scroll;
	height: calc(100% - 150px);
}

.raffle-drawing-winners > div {
	margin: 20px;
	padding: 1px;
}

.raffle-drawing-winnders > div:last-child {
	margin-bottom: 25px;
}

.display-styling-inventory-raffle {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.item-winner > ion-icon {
	vertical-align: middle;
}

.camper-information-popup {
	position: absolute;
	background: #496a81;
	top: -101%;
	left: 0px;
	width: 100%;
	height: 0;
	transition: 1s ease;
}

.camper-information-popup.open {
	height: 100%;
	top: 0px;
	transition: 1s ease;
}

.camper-information-popup h1 {
	margin: 0;
	left: 0px;
	/*height: 70px;*/
	width: 80%;
	text-align: center;
	line-height: 200%;
}

.camper-information-body > div {
	background: #f7e88f;
	margin-bottom: 15px;
}

.camper-information-body > div:last-child {
	margin-bottom: 20px;
}

.camper-information-body {
	margin-top: 2%;
	padding: 2px;
	overflow-y: scroll;
	transition: 1s ease;
	height: calc(100% - 70px);
}

.upperware-camper-information {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.open-more-camper-information ion-icon {
	margin-right: 7px;
	transform: scale(2);
	transition: 500ms ease;
}

.open-more-camper-information.open ion-icon {
	transform: rotate(90deg) scale(2);
	transition: 500ms ease;
}

.drop-down-camper-information {
	position: relative;
	display: none;
	transition: 1s ease;
}

.drop-down-camper-information.open {
	background: #bd4881;
	display: block;
	min-height: 30px;
	transition: 1s ease;
}

.drop-down-camper-information.open > div {
	font-size: 20px;
	padding-left: 5px;
	display: flex;
	align-items: center;
}

.drop-down-camper-information.open > div:first-child {
	padding-top: 5px;
}

.drop-down-camper-information.open > div:last-child {
	padding-bottom: 5px;
}

.drop-down-camper-information.open p {
	padding: 0;
	margin: 0;
}

.reset-camper-pin.open {
	animation: rotate-icon 1s linear;
}

.edit-camper-name-information-popup {
	position: absolute;
	background: #f7e88f;
	left: -100%;
	top: 40%;
	width: 60%;
	height: 50%;
	transition: 1s ease;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 5;
}

.edit-camper-name-information-popup.open {
	left: 20%;
	overflow-y: scroll;
	transition: 1s ease;
}

.edit-camper-name-information-popup > form {
	margin-bottom: 5px;
}

#close-edit-camp-name-popup {
	border-radius: 3px;
	margin: 0 0 5px 0;
	width: 80%;
	height: 40px;
	text-align: center;
	font-size: 20px;
	padding: 0;
}

@keyframes rotate-icon{
	0%{
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.staffer-level-pump {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.staffer-level-pump > ion-icon {
	padding: 0;
	margin: 0;
}

.log-popup {
	position: absolute;
	background: white;
	top: -101%;
	left: 0px;
	width: 100%;
	height: 0px;
	transition: 1s ease;
}

.log-popup.open {
	top: 0px;
	height: 100%;
	transition: 1s ease;
}

.log-popup h1 {
	margin: 0;
	left: 0px;
	height: 70px;
	width: 80%;
	text-align: center;
	line-height: 200%;
}

.close-logs {
	position: absolute;
	width: 70px;
	height: 70px;
	top: 0px;
	right: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logs-inventory {
	height: calc(100% - 70px);
	overflow-y: scroll;
	background: #eca465;
}

.logs-inventory > div {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 7px 0;
	background-color: #f7e88f;
	height: 60px;
}

.align-extra-log-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 90%;
}

.display-log-time {
	border-radius: 3px;
	width: 100%;
	padding: 2px;
	background-color: #bd4881;
}

.log-item-owner-info {
	border-radius: 3px;
	width: 100%;
	padding: 2px;
	background-color: #496a81;
}

.log-item-owner-info p {
	padding: 0;
	margin: 0;
}

.purchase-extra-info {
	display: none;
}

.purchase-extra-info.open {
	border-radius: 3px;
	display: block;
	position: absolute;
	left: 58px;
	width: 50%;
	background-color: white;
	padding: 5px;
}

.purchaser-log-info {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
	height: 40px;
	background-color: #00a6a6;
	margin-left: 10px;
	padding: 5px;
	display: flex;
	align-items: center;
}

.purchase-item-url {
	border-radius: 3px;
}

.purchase-item-url:hover {
	cursor: pointer;
}

.needs-slack-id > ion-icon {
	display: none;
}

.needs-slack-id {
	height: 0px;
	transition: 1s ease;
}

.needs-slack-id.open > ion-icon {
	display: block !important;
}

.needs-slack-id.open {
	height: 70px;
	background-color: #f7e88f;
	animation: slidein 2s linear;
}

.input-slack-id-popup {
	position: absolute;
	background: white;
	top: -101%;
	left: 0px;
	width: 100%;
	height: 0px;
	transition: 1s ease;
}

.input-slack-id-popup.open {
	top: 20%;
	height: 200px;
	transition: 1s ease;
}

.input-slack-id-popup h1 {
	margin: 0;
	left: 0px;
	height: 70px;
	width: 80%;
	text-align: center;
	line-height: 200%;
}

.slack-closer {
	position: absolute;
	width: 70px;
	height: 70px;
	top: 0px;
	right: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
}

@keyframes slidein {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0%);
	}
}

@media only screen and (max-width: 500px), screen and (max-height: 700px) {
	.send-item-popup {
		position: absolute;
		background: white;
		top: -101%;
		left: 0px;
		width: 100%;
		height: 100%;
		border-bottom: 3px solid grey;
		transition: 1s ease;
		flex-direction: column;
		justify-content: center;
	}

	.inner-inventory {
		position: relative;
	}

	.inventory-adding {
		position: relative;
		left: 0px;
		width: 100%;
		height: 0px;
		z-index: -5;
		transition: z-index 1s ease;
		transition: height 1s ease;
	}

	.inventory-adding.open {
		height: calc(100% - 70px);
		z-index: 100;
		transition: z-index 1s ease;
		transition: height 1s ease;
	}

	.inventory-adding > div {
		transform: translate(0%, 0%) !important;
		left: -100% !important;
		top: 0px;
		width: 100%;
		height: 100%;
		transition: left 1s ease !important;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.inventory-adding > div.open {
		left: 0px !important;
		transition: left 1s ease;
	}

	.edit-camper-name-information-popup {
		position: relative;
		left: -100%;
		top: 0px;
		width: 100%;
		height: 0px;
		transition: 1s ease;
	}

	.edit-camper-name-information-popup.open {
		left: 0px;
		height: calc(100% - 200px);
		transition: 1s ease;
	}
}

@media only screen and (max-height: 700px) and (orientation: landscape) {
	.inventory-adding {
		position: relative;
		left: 0px;
		top: 0px;
		width: 100%;
		height: 0px;
		z-index: -5;
		transition: z-index 1s ease;
		transition: height 1s ease;
	}

	.inventory-adding.open {
		height: 100%;
		z-index: 100;
		transition: z-index 1s ease;
		transition: height 1s ease;
	}

	.inventory-adding.open div {
		display: block;
		overflow-y: scroll;
	}

	.inventory-adding.open div h1 {
		position: relative;
		left: 10%;
		text-align: center;
	}

	.inventory-adding.open input.submit-button {
		margin-bottom: 25px;
	}

	.edit-camper-name-information-popup.open {
		left: 0px;
		height: calc(100% - 70px);
		transition: 1s ease;
	}
}